<p id="notice"><%= notice %></p>

<section class="card-container margin">
    <% @items.each do |item| %>
    <div class="category-card">
        <%= link_to (image_tag item.image_url, :class => "img"), item %>
        <h2><%= item.title %></h2>
        <div class="pl-1 pr-1">
            <p class="text-justify"><%= item.description %></p>
        </div>
        <h3>Price <%= number_to_currency(item.price, :unit => "€") %> </h3>
        <div class="mb-1" >
            <%= link_to 'SHOW',  item, :class => "btn-secondary", :role => "button" %>
        </div>
        <% if admin_user? %>
        <div class="padding-1">
            <a><%= link_to 'Edit', edit_item_path(item), :class =>"btn-admin"%></a>
            <a><%= link_to 'Destroy',  item, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn-admin" %></a>
        </div>
        <% end %>
    </div>
    <% end %>
</section>

<% if admin_user? %>  
<div class="container margin">
    <a><%= link_to 'New Item', new_item_path, :class =>"btn-admin" %> </a>
</div>
<% end %>

