<h1 class="tex-center"> Log in </h1>

<section class="container margin">
    <div class="form-card">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  	<div class="padding">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-inputs"%>
	 	</div>
	 	
		<div class="padding">
			<%= f.label :password %><br />
			<%= f.password_field :password, autocomplete: "current-password", class:"form-inputs" %>
		</div>
		
		<% if devise_mapping.rememberable? %>
		<div class="padding">
	  		<%= f.check_box :remember_me %>
	  		<%= f.label :remember_me %>
		</div>
  		<% end %>
  		
  		<div class="padding">
            <%= f.submit "LOGIN" %>
        </div>

        <div class="padding">
            <p class="text-center">
                Don't have an account? 
                <%= render "devise/shared/links", class:"link" %>
            </p>
        </div>
     <% end %>
    </div>
</section>
