<p id="notice"><%= notice %></p>

<h1 class="tex-center"><%= @item.category %></h1>
<section class="container margin">
    <div class="product-img">
        <%= image_tag @item.image_url, :class => 'img'%>
    </div>
    <div class="product-details-card">
        <div class="product-name">
            <h2><%= @item.title %></h2>
        </div>
        <div class="">
            <h3> Description:</h3>
            <p class="text-justify"><%= @item.description %></p>
            <h3> Allergen Information:</h3>
            <p class="text-justify">  Gluten (Wheat), Eggs, Milk, Sulphites</p>
        </div>
        <div class="box-price">
            <h3 class="text-left">Price</h3>
            <h4 class="price-text"><%= number_to_currency(@item.price, :unit => "€") %></h4>
        </div>
        <div class="pl-1">
            <a href="/cart/<%= @item.id %>" class="btn-large">
                ADD TO CART
            </a>
        </div>
        <div class="pl-1">
            <% if admin_user? %>
                <a><%= link_to 'Back',  items_path %></a>
                <a><%= link_to 'Edit',  edit_item_path(@item) %></a>
            <% end %>
        </div>
    </div>
</section>

