<section class="container margin">
    <div class="form-card padding-1">
    <%= form_for(category) do |f| %>
        <% if category.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
            <ul>
              <% category.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
              <% end %>
             </ul>
        </div>
        <% end %>

        <div class="padding">
            <%= f.label :image %>
            <%= f.text_field :image, class:"form-inputs" %>
        </div>

        <div class="padding">
            <%= f.label :title %>
            <%= f.text_field :title, class:"form-inputs" %>
        </div>

        <div class="padding">
            <%= f.submit "Save"%>
          </div>
    <% end %>
    </div>
</section>